<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="title"
         fxFlex="40px"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="3px">
        <mat-icon svgIcon="breadcrumb"
                  fxFlex="20px"
                  fxFlexOffset="10px"
                  class="svg-icon"
                  color="accent">
        </mat-icon>
        <p fxFlex="">Current Month Traffic Summary</p>
    </div>
    <fusioncharts fxFlex="" width="100%" type="scrollline2d" dataFormat="JSON" [dataSource]="dataSource"></fusioncharts>

    <!-- White space for rounding outer div corners -->
    <div fxFlex="10px"></div>
</div>
