@import "src/styles.scss";

$theme: $material_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$foreground: map-get($theme, foreground);

$analytics-title-font-family: Arial, Helvetica, sans-serif;

.title {

    .svg-icon {
        max-height: 10px;
    }

    p {
        font-size: 12pt;
        font-weight: 600;
        font-family: $analytics-title-font-family;
    }
}
