
<mat-toolbar fxLayout="row" style="height: 50px" color="primary">
    <div fxFlex="40">
        <img src="logo.png">
    </div>

    <button mat-stroked-button fxFlex="100px">Home</button>
    <button mat-stroked-button fxFlex="100px" [matMenuTriggerFor]="menu">About Us</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="drop-menu-item">Item 1</button>
        <button mat-menu-item class="drop-menu-item">Item 2</button>
    </mat-menu>
    <button mat-stroked-button fxFlex="100px">Enterprise</button>
    <button mat-stroked-button fxFlex="100px">Carrier</button>
    <button mat-stroked-button fxFlex="100px">Media</button>
    <button mat-stroked-button fxFlex="100px">Support</button>
    <button mat-stroked-button fxFlex="100px">Contact Us</button>
 
</mat-toolbar>