@import "src/styles.scss";

$theme: $light_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$top-nav-bar-login-height: 50px;
$button-size: 112px;
$top-nav-bar-login-logo-size: 40%;

#top-nav-bar-login {
    height: $top-nav-bar-login-height;
    background-color: mat-color($primary, 200);
}

mat-toolbar > button {
    min-width: $button-size;
    max-width: $button-size;
}

#top-nav-bar-login-logo {
    max-width: $top-nav-bar-login-logo-size;
}