
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div id="logo" fxFlex="30" fxFlexAlign="center">
        <img src="logo.png">
    </div>

    <div fxFlex="70">
        <ul fxLayout="row" fxLayoutAlign="end center">
            <li fxFlexAlign="center"
                *ngFor="let link of topNav">
                <a mat-button
                   href="{{link.href ? link.href : 'javascript:void(0)'}}"
                   [matMenuTriggerFor]="linkMenu">
                   {{link.title}}
                   <mat-icon *ngIf="link.subLinks">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #linkMenu>
                    <ng-container *ngFor="let subLink of link.subLinks">
                        <mat-divider *ngIf="subLink.separator; else navLink">
                        </mat-divider>
                        <ng-template #navLink>
                            <a mat-menu-item
                               href="{{subLink.href ?
                                       subLink.href : 'javascript:void(0)'}}">
                               {{subLink.title}}
                            </a>
                        </ng-template>
                    </ng-container>
                </mat-menu>
            </li>
        </ul>
    </div>
</mat-toolbar>
