
<mat-toolbar fxLayout="row" style="height: 70px">
    <div fxFlex="40">
        <img src="logo.png">
    </div>
    <button mat-stroked-button fxFlex="100px">Home</button>
    <button mat-stroked-button fxFlex="100px">About Us</button>
    <button mat-stroked-button fxFlex="100px">Enterprise</button>
    <button mat-stroked-button fxFlex="100px">Carrier</button>
    <button mat-stroked-button fxFlex="100px">Media</button>
    <button mat-stroked-button fxFlex="100px">Support</button>
    <button mat-stroked-button fxFlex="100px">Contact Us</button>
 
</mat-toolbar>