@import "src/styles.scss";

$theme: $material_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.mat-toolbar {
    background-color: mat-color($primary, lighter);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 64px;
    box-shadow: 0px 10px 40px -10px mat-color($primary, darker);

    .mat-button {
        padding: 0 0 0 5px;
        span {
            color: mat-color($accent);
            font-weight: bold;
        }
    }

    mat-icon {
        font-size: 22px;
        display: inline
    }
    .mat-badge-content {
        font-size: 7pt;
        line-height: 18px;
        height: 18px;
        width: 18px;
        vertical-align: middle;
        top: -3px;
    }

    a {
        display: inline-block;
        padding: 0px 10px;

        h2 {
            color: mat-color($accent);
            font-size: 22pt;
            height: 28px;
            line-height: 28px;
            font-weight: bold;
        }
        p {
            color: mat-color(map-get($dark_theme, primary));
            font-size: 7pt;
            font-weight: bold;
            height: 10px;
            line-height: 10px;
            margin: 0;
        }
    }

    .mat-form-field {
        font-size: 10pt;
    }

    .splitter {
        // Splits toolbar/navbar into left and right sides.
        flex: 1 1 auto;
    }

    .mat-focused .placeholder {
    color: transparent;
    }
}

.dropdown_text {
    font-weight: bold;
}
