<mat-toolbar class="theme-default">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleSidebarCollapse()">
        <mat-icon inline="true" aria-label="Side nav toggle icon">
            menu
        </mat-icon>
    </button>
    <a (click)="addNotif()"><h2>EMS</h2><p>ENTERPRISE MESSAGING SERVICES</p></a>

    <!-- This elements splits elements in the toolbar/navbar. All elements
       before this span will be placed on the left side of the toolbar/navbar.
       Elements after this span will be placed on the right side. -->
    <span class="splitter"></span>

    <button mat-button [matMenuTriggerFor]="profile_dropdown">
        <span>{{(usernameIsEmail) ? username : (username | uppercase)}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #profile_dropdown>
        <button mat-menu-item>
            <mat-icon color="accent"
                      class="material-icons-outlined">
                settings
            </mat-icon>
            <span class="dropdown_text">Settings</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon color="accent" class="material-icons">
                exit_to_app
            </mat-icon>
            <span class="dropdown_text">Log Out</span>
        </button>
    </mat-menu>
    <button mat-icon-button
            [matMenuTriggerFor]="notifMenu"
            id="notifButton">
        <mat-icon class="material-icons-outlined"
                  matBadge="{{(notifications.length > 99) ?
                            '99+' : notifications.length}}"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  [matBadgeHidden]="notifications.length <= 0">
                  notifications
        </mat-icon>
        <mat-menu #notifMenu="matMenu">
            <button mat-menu-item
                    *ngFor="let n of notifications">
                    <span>{{n.title}}: </span>{{n.message}}
            </button>
        </mat-menu>
    </button>
</mat-toolbar>
