<nav class="navbar" [ngClass]="{collapsed: compressed === true}">
    <div class="container-fluid">
      <div class="navbar-header">
        <a (click) = "toggleSidebarCollapse()" class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-bullhorn"></span></a></li>
        </ul>


    </div>
  </nav>
