<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleSidebarCollapse()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span><h2>EMS</h2></span>

  <!-- This elements splits elements in the toolbar/navbar. All elements
       before this span will be placed on the left side of the toolbar/navbar.
       Elements after this span will be placed on the right side. -->
  <span class="splitter"></span>

  <span><mat-icon>notifications</mat-icon></span>
</mat-toolbar>
