@import "src/styles.scss";

$theme: $material_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$foreground: map-get($theme, foreground);

$analytics-title-font-family: Arial, Helvetica, sans-serif;
$numColumns: 5;
@include mat-table-last-col-resize($numColumns);

p {
    padding: 10px 0px 10px 25px;
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: 600;
    font-family: $analytics-title-font-family;
}
