<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="title"
         fxFlex="40px"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="3px">
        <mat-icon svgIcon="breadcrumb"
                  fxFlex="20px"
                  fxFlexOffset="10px"
                  class="svg-icon"
                  color="accent">
        </mat-icon>
        <p fxFlex="">Percentage of Total Traffic</p>
    </div>
    <mat-divider></mat-divider>
    <mat-table fxFlex="" [dataSource]="data">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Channels </mat-header-cell>
            <mat-cell *matCellDef="let channel">
                <span class="channel-color" [style.backgroundColor]="channel.color"></span>
                <span>{{channel.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="traffic_volume">
            <mat-header-cell *matHeaderCellDef> Current Month Traffic Volume </mat-header-cell>
            <mat-cell *matCellDef="let channel">
                <span class="traffic"
                      [style.padding-left.px]="(7.49 * (mostTrafficDigits - channel.traffic.toString().length))">
                    {{channel.traffic}}
                </span>
                <span>
                    <mat-chip-list>
                        <mat-chip>
                            <div class="chip-text">
                                {{channel.traffic/totalTraffic | percent:'1.0-1'}}
                            </div>
                        </mat-chip>
                    </mat-chip-list>
                </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="success_rate">
            <mat-header-cell *matHeaderCellDef class="mat-last-col"> Delivery Success Rate </mat-header-cell>
            <mat-cell *matCellDef="let channel" class="mat-cell-bold mat-last-col">
                {{ (channel.successRate < 0) ? 'NA' : (channel.successRate | percent)}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
    </mat-table>

    <!-- White space for rounding outer div corners -->
    <div fxFlex="10px"></div>
</div>
