@import "src/styles.scss";

$theme: $material_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$foreground: map-get($theme, foreground);

$analytics-title-font-family: Arial, Helvetica, sans-serif;
$numColumns: 3;
@include mat-table-last-col-resize($numColumns);

.title {

    .svg-icon {
        max-height: 10px;
    }

    p {
        font-size: 12pt;
        font-weight: 600;
        font-family: $analytics-title-font-family;
    }
}

.channel-color {
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.traffic {
    padding-right: 5px;
}

.mat-chip-list {

    .mat-chip {
        min-height: 17px;
        width: 35px;
        height: 17px;
        line-height: 17px;
        border-radius: 17px;
        font-size: 10px;
        font-weight: bold;
        padding: 0;

        .chip-text {
            margin: 0 auto;
        }
    }
}
