


<div *ngIf="loggedIn; else loginBlock">
    <app-top-nav-bar-feature></app-top-nav-bar-feature>
  <div class="col-sm-3" style="background-color:rgba(0, 0, 255, 0.24);"><app-side-bar></app-side-bar></div>
  <div class="col-sm-9" style="background-color:rgba(0, 128, 0, 0.295);"><app-dashboard></app-dashboard></div>
</div>
<ng-template #loginBlock>
  <app-top-nav-bar-login></app-top-nav-bar-login>
  <div class="col-sm-12" style="background-color:rgba(0, 128, 0, 0.295);"><app-login></app-login></div>
  <app-footer></app-footer>
</ng-template>

<router-outlet></router-outlet>




