<mat-sidenav-container *ngIf="loggedIn; else loginBlock" class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <app-side-bar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-top-nav-bar-feature *ngIf="loggedIn"
                                 (toggleSidebar)="drawer.toggle()">
        </app-top-nav-bar-feature>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loginBlock>
    <div class="top-nav-bar-login">
        <app-top-nav-bar-login></app-top-nav-bar-login>
    </div>
    <div class="login">
        <div class="col-sm-12 background-color-1">
            <app-login></app-login>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</ng-template>
