@import "src/styles.scss";

.sidenav-container {
    position: fixed;
    height: calc(100% - 64px);
    width: 100%;
    bottom: 0;

    .sidenav {
        position: absolute;
        width: 200px;
        padding-top: 10px;
        background-color: mat-color(map-get($dark_theme, primary), 600)!important;
    }

    app-side-bar {
        padding-top: 10px;
    }

    mat-sidenav-content, router-outlet {
        //background-color: $bright_silver;
    }
}
