$backgound-color-1: rgba(0,0,255,0.25);
$backgound-color-2: rgba(0,128,0,0.25);

.background-color-1 {
    background-color: $backgound-color-1;
}

.background-color-2 {
    background-color: $backgound-color-2;
}
