<div fxLayout="column">
    
    <div fxFlex="" fxLayout="row wrap" fxLayoutGap="5%">
        <div *ngFor="let dashboardElem of dashboardElementsTop">
            <div fxFlex class="dashboard-panel">
                <app-dashboard-sub-a [featureTitle]="dashboardElem.title" [featureURL]="dashboardElem.href"
                    [featureDescription]="dashboardElem.description" [featureIcon]="dashboardElem.icon">
                </app-dashboard-sub-a>
            </div>
        </div>
    </div>

    <div fxFlex="" fxLayout="row wrap" fxLayoutGap="5%">
        <div *ngFor="let dashboardElem of dashboardElementsBottom">
            <div fxFlex class="dashboard-panel">
                <app-dashboard-sub-a [featureTitle]="dashboardElem.title" [featureURL]="dashboardElem.href"
                    [featureDescription]="dashboardElem.description" [featureIcon]="dashboardElem.icon">
                </app-dashboard-sub-a>
            </div>
        </div>
    </div>

</div>