@import "src/styles.scss";

$theme: $dark_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$foreground: map-get($theme, foreground);

.footer-container {
    height: 100%;
}

.footer-image {
    height: auto;
    width: 100%;
}

.mat-toolbar {
    padding: 0 5%;
    height: 50px;
    background-color: mat-color($primary, 600);

    div {
        height: 100%;

        * {
            max-height: 100%;
        }

        p {
            color: mat-color($foreground, text);
            font-size: 12px;

            &.separator {
                font-size: 1.1em;
            }
        }

        a {
            text-decoration: none !important;
            color: mat-color($foreground, text);
            font-size: 12px;

            &:hover {
                color: mat-color($accent);
            }
        }

        .mat-icon {
            font-size: 16px;
            line-height: 16px;
            height: 16px;
            color: mat-color($foreground, text);
        }

        .social-media-link {
            height: 25px;

            img {
                min-width: 21px;
                min-height: 21px;
                max-height: 21px;
                height: auto;
                width: auto;
                color: mat-color($foreground, text);
            }
        }
    }
}
