<div class="footer-container" fxLayout="column" fxLayoutAlign="end stretch">

    <img class="footer-image" fxFlex="" src="../../../../chicago.jpg">

    <mat-toolbar class="footer-bottom" fxFlex="50px" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="50" fxFlexAlign="center" class="toolbar-div">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <mat-icon fxFlex="nogrow">copyright</mat-icon>
                <p fxFlex="nogrow">Infinite Convergence Solutions, Inc</p>
                <p fxFlex="nogrow" class="separator">|</p>
                <a href="https://infinite-convergence.com/website-privacy-policy" fxFlex>
                    Website Privacy Policy
                </a>
            </div>
        </div>
        <div fxFlex="50" fxFlexAlign="center" class="toolbar-div">
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="11px">
                <p class="footer-text">Follow Us</p>
                <a href="http://www.facebook.com/InfiniteConvergenceSolutions" class="social-media-link">
                    <img src="assets/icons/f_logo_RGB-White_58.png" alt="" />
                </a>
                <a href="http://twitter.com/nxtgenmsg" class="social-media-link">
                    <img src="assets\icons\LI-In-Bug.png" alt="">
                </a>
                <a href="http://www.linkedin.com/company/infinite-convergence-solutions" class="social-media-link">
                    <img src="assets\icons\Twitter_Social_Icon_Circle_White.png" alt="">
                </a>
                <a href="http://www.youtube.com/channel/UCuyTefiwx98sT_QUs-8reBA" class="social-media-link">
                    <img src="assets\icons\yt_icon_mono_dark.png" alt="">
                </a>
            </div>
        </div>
    </mat-toolbar>

</div>