@import "src/styles.scss";

$theme: $dark_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.footer-container {
    height: 400px;
}

.footer-image {
    height: 350px;
    background-image: url("../../../../chicago.jpg");
    background-size: cover;
}

.footer-bottom {
    background-color: mat-color($primary, 600);
    height: 50px;
}

.footer-text {
    color: white;
    font-size: 12px;
    margin: 0px;
}