<div class="footer-container">

    <div class="footer-image" >
    </div>

    <mat-toolbar class="footer-bottom">
        <div fxFlex="50" fxLayout="row">
                <div fxFlex="80px">
                    </div>
            <div fxFlex="20px">
            <mat-icon style="color: white; font-size: 15px">copyright</mat-icon>
            </div>
            <div fxFlex="">
            <p class="footer-text">Infinite Convergence Solutions, Inc | Website Privacy Policy</p>
            </div>
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="end">
                <div fxFlex="60px">
                    <p class="footer-text">Follow Us</p>
                </div>
                <div fxFlex="20px">
                    <mat-icon style="color: white; font-size: 15px">person_outline</mat-icon>
                </div>
                <div fxFlex="20px">
                    <mat-icon style="color: white; font-size: 15px">person_outline</mat-icon>
                </div>
                <div fxFlex="20px">
                    <mat-icon style="color: white; font-size: 15px">person_outline</mat-icon>
                </div>        
                <div fxFlex="20px">
                    <mat-icon style="color: white; font-size: 15px">person_outline</mat-icon>
                </div>
                <div fxFlex="80px">
                </div>
        </div>
    </mat-toolbar>

</div>
