$backgound-color-footer: rgba(207, 243, 77, 0.25);

.background-color-footer {
    height: 45vh;
    //background-image: url("../../../../paper2.jpg");
    background-color: $backgound-color-footer;
}