/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'styles/themes';

$theme: $material_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

/*
// Global Colors
$white: #ffffff;
$black: #000000;
$offwhite: #f6f7f9;
$bright_silver: #f3f6fe;
$netsfere_red: #de4858;
$gunmetal_gray: #2d2d2d;
$dark_neutral_gray: #373737;
$charcoal_gray: #272727;
$black_chrome: #222222;
$light_neutral_gray: #b2b2b2;
$silver: #d3d6de;
$cool_gray: #515769;
$medium_neutral_gray: #656565;
*/
// Global page styling
body {
    margin: 0;
    height: 100%;
}

$scrollbar-size: 12px;

/* width */
*::-webkit-scrollbar {
    width: $scrollbar-size;
}

/* Track */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px mat-color($primary, 900);
    border-radius: $scrollbar-size;
    background-color: mat-color($primary, lighter);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: mat-color($primary, darker);
    box-shadow: inset 0 0 5px mat-color($primary, 900);
    border-radius: $scrollbar-size;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: mat-color($primary, 900);
}
