/* You can add global styles to this file, and also import other style files */
// Global Colors
$white: #ffffff;
$black: #000000;
$offwhite: #f6f7f9;
$bright_silver: #f3f6fe;
$netsfere_red: #dc4d56;
$gunmetal_gray: #2d2d2d;
$dark_neutral_gray: #373737;
$charcoal_gray: #272727;
$black_chrome: #222222;
$light_neutral_gray: #b2b2b2;
$silver: #d3d6de;
$cool_gray: #515769;
