
<!-- Sidebar Holder -->
<nav id="sidebar" [ngClass]="{collapsed: compressed === true}">
<ul class="list-unstyled components"
        *ngFor="let navGroup of sideNav">
        <p>{{navGroup.heading}}</p>
        <ng-container *ngFor="let link of navGroup.panels">
            <app-side-bar-link [title]="link.title"
                               [icon]="link.icon"
                               [route]="link.route">
            </app-side-bar-link>
        </ng-container>
    </ul>

    <ul class="list-unstyled bottom">
        <li><hr></li>
        <li><a href="#"><i class="glyphicon glyphicon-off"></i></a></li>
    </ul>
</nav>
