<mat-divider *ngIf="separator; else navLink"></mat-divider>
<ng-template #navLink>
    <a mat-list-item disableRipple
       class="theme-dark"
       routerLink="{{route}}"
       [routerLinkActive]="route ? ['active'] : ['']"
       #sideNavLink="routerLinkActive"
       (click)="handleLinkClick()"
       [ngClass]="{'mainPanel': !isSubpanel,
                   'subPanel': isSubpanel,
                   'expanded': expanded}">
        <!-- <img src="{{(expanded || activeMainPanelName === title) ?
                    ('assets/icons/' + icon + '_active' + '.png') :
                    ('assets/icons/' + icon + '_inactive' + '.png')}}"
             alt="{{icon}}"> -->
             
        <mat-icon class="{{(sideNavLink.isActive || expanded) ?
                            activeIconStyle : iconStyle}}">
                  {{(sideNavLink.isActive || expanded) ? activeIcon : icon }}
        </mat-icon>
        <div class="linkText">{{title}}</div>
        <mat-icon class="material-icons expandIcon"
                  *ngIf="!isSubpanel && subPanels">
                  {{expanded ? "keyboard_arrow_down" : "keyboard_arrow_right"}}
        </mat-icon>
    </a>
    <div *ngIf="expanded && !isSubpanel && subPanels">
        <ng-container *ngFor="let link of subPanels">
            <app-side-bar-link [title]="link.title"
                               [icon]="link.icon"
                               [iconStyle]="link.iconStyle"
                               [activeIcon]="link.activeIcon"
                               [activeIconStyle]="link.activeIconStyle"
                               [route]="link.route"
                               [separator]="link.separator"
                               [isSubpanel]="link.isSubpanel"
                               [subPanels]="link.subPanels">
            </app-side-bar-link>
        </ng-container>
    </div>
</ng-template>
