@import "src/styles.scss";

// Theming variables
$theme: $dark_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.mat-nav-list {
    padding-top: 0;
    width: 100%;

    .mat-divider {
        width: 90%;
        padding: 0;
        margin: 10px auto;
    }
}
