<mat-nav-list *ngFor="let navGroup of sideNav; let idx = index"
              class="theme-dark">
    <ng-container *ngFor="let link of navGroup.panels">
        <app-side-bar-link [(activeMainPanel)]="activeMainPanel"
                           [title]="link.title"
                           [icon]="link.icon"
                           [iconStyle]="link.iconStyle"
                           [activeIcon]="link.activeIcon"
                           [activeIconStyle]="link.activeIconStyle"
                           [route]="link.route"
                           [separator]="link.separator"
                           [isSubpanel]="link.isSubpanel"
                           [subPanels]="link.subPanels">
        </app-side-bar-link>
    </ng-container>
    <mat-divider *ngIf="idx < (sideNav.length - 1)"></mat-divider>
</mat-nav-list>
