@import '~@angular/material/theming';

// This mixin adjust material's for form fields to make inputs more visible when
// using the EMS themes.
@mixin form-field-adjustment($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);

    .mat-form-field {
        &.mat-focused {

            input {
                caret-color: mat-color($foreground, secondary-text)!important;
            }

            .mat-form-field-label {
                color: mat-color($foreground, secondary-text)!important;
            }
            .mat-form-field-ripple {
                background-color: mat-color($foreground, secondary-text)!important;
            }

            &.mat-form-field-invalid {
                .mat-form-field-label {
                    color: mat-color($warn)!important;
                }
                .mat-form-field-ripple {
                    background-color: mat-color($warn)!important;
                }
            }
        }
    }
}

// This mixin adjust material's tables to have a global style for the EMS.
@mixin mat-table-style($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);

    .mat-table {
        width: 100%;

        .mat-header-row {
            min-height: 30px!important;
            background-color: mat-color($primary, 600);
            border-top: 1px solid mat-color($primary, darker);
            border-bottom: 1px solid mat-color($primary, darker);

            .mat-header-cell {
                font-size: 11pt;
                color: mat-color($foreground, text);
                font-weight: normal;
            }
        }

        .mat-row {
            min-height: 40px!important;

            .mat-cell {
                font-size: 10pt;

                &.mat-cell-bold {
                    font-weight: bold;
                }
            }
        }
    }
}

// Material's tables have even width columns with text left aligned. For this
// reason, the table's last column is variably shrunk to limit the amout of
// negative space on the right side of the table. Improves column spacing.
@mixin mat-table-last-col-resize($numColumns) {
    .mat-table {
        .mat-header-row {
            .mat-header-cell {
                &.mat-last-col {
                    @if $numColumns == 3 or $numColumns == 4 {
                        flex: 0 0 calc(100% / ( 2 * #{$numColumns} ));
                    } @else if $numColumns == 5 {
                        flex: 0 0 calc(100% / ( 1.5 * #{$numColumns} ));
                    }
                }
            }
        }

        .mat-row {
            .mat-cell {
                &.mat-last-col {
                    @if $numColumns == 3 or $numColumns == 4 {
                        flex: 0 0 calc(100% / ( 2 * #{$numColumns} ));
                    } @else if $numColumns == 5 {
                        flex: 0 0 calc(100% / ( 1.5 * #{$numColumns} ));
                    }
                }
            }
        }
    }
}

// This mixin implements a common styling for all mat raised buttons
@mixin mat-raised-button-style($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);

    [mat-raised-button] {
        &[disabled] {
            &[color="primary"] {
                background-color: mat-color($primary, 300);
                color: mat-color($foreground, secondary-text);
                border: 1px solid mat-color($primary);
            }

            &[color="accent"] {
                background-color: mat-color($accent, 300);
                color: mat-color($primary, lighter);
            }
        }
    }
}
