@import '~@angular/material/theming';
@import 'palettes';

$light_primary: mat-palette($ems-silver);
$light_accent: mat-palette($netsfere-red);
$light_theme: mat-light-theme($light_primary, $light_accent);

$dark_primary: mat-palette($ems-dark-gray);
$dark_accent: mat-palette($netsfere-red);
$dark_theme: mat-dark-theme($dark_primary, $dark_accent);

// Theme to apply to Material package
$material_theme: $light_theme;
