<div class="panel panel-primary">
    <div class="panel-body" style="height: 200px;">
        <div class="col-sm-3">
            {{featureLogoFileName}}
            <img src="favicon.ico">
        </div>
        <div class="col-sm-9">
            <div>
                <a routerLink={{featureURL}} routerLinkActive="active">
                    <h2>
                        {{featureTitle}}
                    </h2>
                </a>
            </div>
            <div>
                {{featureDescription}}
            </div>
        </div>
    </div>
</div>