<a routerLink={{featureURL}} routerLinkActive="active">
    <div fxLayout="row" id="dashboard-panel-container" fxLayoutAlign="center center">
        <mat-icon fxFlex="33" class="svg-icon" svgIcon="{{featureIcon}}"></mat-icon>

        <div fxFlex="67"
             fxLayout="column">
            <div fxFlex="50" class="dashboard-panel-title">
                {{featureTitle}}
            </div>
            <div fxFlex="50" class="dashboard-panel-desc">
                {{featureDescription}}
            </div>
        </div>

    </div>
</a>
