

        <div class="dashboard-panel-container">
    <div class="dashboard-panel-left">
            <!--
            {{featureLogoFileName}}
            -->
            <div class="dashboard-panel-logo">
            <img src="favicon.ico">
            </div>

        
    </div>

    <div class="dashboard-panel-right">
        
        <div class="dashboard-panel-content">
            <div>
                <a routerLink={{featureURL}} routerLinkActive="active">
                    <h2>
                        {{featureTitle}}
                    </h2>
                </a>
            </div>
            <div>
                {{featureDescription}}
            </div>
        </div>
        
    </div>

        </div>
