@import "src/styles.scss";

$theme: $light_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$dashboard-panel-container-width: 300px;
$dashboard-panel-left-height: 200px;
$dashboard-panel-left-width: 100px;
$dashboard-panel-right-width: 200px;
$dashboard-panel-title-font-size: 25px;
$dashboard-panel-title-font-family: Arial, Helvetica, sans-serif;
$dashboard-panel-desc-font-size: 15px;

#dashboard-panel-container {
    width: $dashboard-panel-container-width;
    border: solid;
    border-radius: 15px;
    background-color: mat-color($primary, 600);
}

.dashboard-panel-left {
    width: $dashboard-panel-left-width;
    height: $dashboard-panel-left-height;
}

.dashboard-panel-logo {
    margin: auto;
    text-align: center;
}

.dashboard-panel-right {
    width: $dashboard-panel-right-width;
}

.dashboard-panel-title {
    font-size: $dashboard-panel-title-font-size;
    font-family: $dashboard-panel-title-font-family;
}

.dashboard-panel-desc {
    font-size: $dashboard-panel-desc-font-size;
    font-family: $dashboard-panel-title-font-family;
}

//Remove the underline for the link
A {
    text-decoration: none;
}

P {
    margin-top: 50px;
    margin-bottom: 0px;
}