@import "src/styles.scss";

$theme: $default_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.dashboard-panel-container {
    width: 300px;
    border: solid;
    background-color: mat-color($primary, 600);
}

.dashboard-panel-left {
    height: 200px;
    //background-color: beige;
}

.dashboard-panel-logo {
    margin: auto;
    text-align: center;
}

.dashboard-panel-right {
    width: 200px;
    background-color: bisque;
}