
.dashboard-panel-container {
    width: 300px;
    border: solid;
}

.dashboard-panel-left {
    height: 200px;
    background-color: beige;
}

.dashboard-panel-logo {
    margin: auto;
    text-align: center;
}

.dashboard-panel-right {
    width: 200px;
    background-color: bisque;
}