<div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="200px" style="height:24px">
            <p style="margin-top:6px;"> INFO: Change your password</p>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="200px" style="height:24px" fxLayout="row">
            <div fxFlex="40" style="text-align: right">
                <mat-icon>person</mat-icon>
            </div>
            <div fxFlex="60">
                <div>
                    <p style="margin-top:6px; text-align: left">Reset password</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showChangePasswordError" fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="500px">
                <span>ERROR: Change Password Failed.</span>
            </div>
    </div>
 
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="300px">
            <form [formGroup]="emsChangePasswordFormModel" (ngSubmit)="changePasswordSend()">
                <mat-form-field style="margin:0px;">
                    <input matInput placeholder="Username" type="text" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Old Password" type="password" formControlName="oldpassword">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="New Password" type="password" formControlName="newpassword">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmpassword">
                </mat-form-field>
        
                <div fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="300px">
                        <button mat-stroked-button class="login-button" type="submit">Submit</button>
                            <p (click)="loginPage()">Cancel</p>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
