<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

    <!-- The label on top of the change password form -->
    <div fxFlex="20px">
        <p id="change-password-label">CHANGE PASSWORD</p>
    </div>

    <!-- The change password error message -->
    <div *ngIf="showChangePasswordInfoMessage"
         fxFlex="20px"
         id="change-password-form-info">
         {{changePasswordInfoMessage}}
    </div>

    <!-- The form to change password -->
    <form fxFlex="" [formGroup]="emsChangePasswordFormModel" (ngSubmit)="changePasswordSend()">
        <div fxLayout="column" fxLayoutAlign="center center" class="change-password-form">
            <mat-form-field fxFlex>
                <input matInput
                       placeholder="Username"
                       type="text"
                       formControlName="username">
                <button matSuffix
                        type="button"
                        mat-icon-button>
                    <mat-icon matSuffix>email</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Old Password"
                       type="{{passwordFieldType.old}}"
                       formControlName="oldpassword">
                <button matSuffix
                        type="button"
                        mat-icon-button
                        (click)="togglePasswordVisibility('old')">
                    <mat-icon matSuffix>
                        {{(passwordFieldType.old === 'password') ?
                           'visibility_off' : 'visibility_on'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="New Password"
                       type="{{passwordFieldType.new}}"
                       formControlName="newpassword">
                <button matSuffix
                        type="button"
                        mat-icon-button
                        (click)="togglePasswordVisibility('new')">
                    <mat-icon matSuffix>
                        {{(passwordFieldType.new === 'password') ?
                           'visibility_off' : 'visibility_on'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Confirm Password"
                       type="{{passwordFieldType.confirm}}"
                       formControlName="confirmpassword">
                <button matSuffix
                        type="button"
                        mat-icon-button
                        (click)="togglePasswordVisibility('confirm')">
                    <mat-icon matSuffix>
                        {{(passwordFieldType.confirm === 'password') ?
                           'visibility_off' : 'visibility_on'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <button fxFlex
                    mat-raised-button
                    type="submit"
                    color="accent"
                    [disabled]=emsChangePasswordFormModel.invalid>
                    SUBMIT
            </button>
        </div>
    </form>

    <a fxFlex="20px" class="change-password-clickable" (click)="loginPage()">
        CANCEL
    </a>

</div>
