@import "src/styles.scss";

$theme: $light_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$change-password-form-width: 500px;
$change-password-form-label-padding-bottom: 20px;
$change-password-form-label-left-width: 30%;
$change-password-form-label-right-width: 70%;
$change-password-form-font-size: 15px;
$change-password-form-font-family: Roboto, "Helvetica Neue", sans-serif;
$change-password-form-info-padding-bottom: 20px;


form, .change-password-form {
    min-width: $change-password-form-width;
    max-width: $change-password-form-width;
}

#change-password-label {
    font-size: $change-password-form-font-size;
    font-weight: bold;
    font-family: $change-password-form-font-family;
}

#change-password-form-info {
    font-size: $change-password-form-font-size;
    margin-bottom: 0!important;
    font-family: $change-password-form-font-family;
    color: mat-color($accent, 300);
    text-align: center;
}

.change-password-clickable {
    font-size: $change-password-form-font-size;
    font-weight: 500;
    font-family: $change-password-form-font-family;
}

.change-password-clickable:hover {
    cursor: pointer;
    color: mat-color($primary, 900);
}

.mat-form-field {
    width: 70%;
}

button {
    &[mat-raised-button] {
        &[disabled] {
            background-color: mat-color($accent, 300);
            color: mat-color($primary, lighter);
        }
    }
}

.mat-dialog-actions {
    padding-top: 0;
    padding-bottom: 16px;
    height: 36px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
  }
