<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

    <!-- The label on top of the change password form -->
    <div fxFlex="20px">
        <p id="change-password-label">CHANGE PASSWORD</p>
    </div>

    <!-- The change password error message -->
    <mat-error *ngIf="showChangePasswordInfoMessage"
         fxFlex="40px"
         id="change-password-form-info">
         {{changePasswordInfoMessage}}
    </mat-error>

    <!-- The form to change password -->
    <form fxFlex="" [formGroup]="emsChangePasswordFormModel" (ngSubmit)="changePasswordSend()">
        <div fxLayout="column" fxLayoutAlign="center center" class="change-password-form">
            <mat-form-field fxFlex>
                <input matInput
                       placeholder="Username"
                       type="text"
                       formControlName="username"
                       tabindex="1">
                <button matSuffix
                        type="button"
                        mat-icon-button>
                    <mat-icon matSuffix tabindex="-1">email</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Old Password"
                       type="{{passwordFieldType.old}}"
                       formControlName="oldpassword"
                       tabindex="2">
                <button matSuffix
                        type="button"
                        mat-icon-button
                        (click)="togglePasswordVisibility('old')">
                    <mat-icon matSuffix tabindex="-1">
                        {{(passwordFieldType.old === 'password') ?
                           'visibility_off' : 'visibility_on'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="New Password"
                       type="{{passwordFieldType.new}}"
                       formControlName="newpassword"
                       tabindex="3">
                <button matSuffix
                        type="button"
                        mat-icon-button
                        (click)="togglePasswordVisibility('new')">
                    <mat-icon matSuffix tabindex="-1">
                        {{(passwordFieldType.new === 'password') ?
                           'visibility_off' : 'visibility_on'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       placeholder="Confirm Password"
                       type="{{passwordFieldType.confirm}}"
                       formControlName="confirmpassword"
                       tabindex="4">
                <button matSuffix
                        type="button"
                        mat-icon-button
                        (click)="togglePasswordVisibility('confirm')">
                    <mat-icon matSuffix tabindex="-1">
                        {{(passwordFieldType.confirm === 'password') ?
                           'visibility_off' : 'visibility_on'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <mat-dialog-actions>
                <button mat-raised-button
                        type="button"
                        color="primary"
                        [disabled]=userActionDisabled
                        (click)="onLoginPage()">
                        CANCEL
                </button>
                <button fxFlex
                        mat-raised-button
                        type="submit"
                        color="accent"
                        [disabled]=isSubmitButtonDisabled()
                        tabindex="5">
                        SUBMIT
                </button>
            </mat-dialog-actions>
        </div>
    </form>

</div>
