$change-password-form-width: 300px;
$change-password-form-label-left-width: 30%;
$change-password-form-label-right-width: 70%;
$change-password-form-font-family: Arial, Helvetica, sans-serif;
$change-password-form-font-size: 15px;

.change-password-form {
    min-width: $change-password-form-width;
    max-width: $change-password-form-width;
}

#change-password-form-label-left {
    text-align: right;
    min-width: $change-password-form-label-left-width;
    max-width: $change-password-form-label-left-width;
}

#change-password-form-label-right {
    margin-top:6px; 
    text-align: left;
    min-width: $change-password-form-label-right-width;
    max-width: $change-password-form-label-right-width;
    font-size: $change-password-form-font-size;
    font-family: $change-password-form-font-family;
} 

#change-password-form-info {
    font-size: $change-password-form-font-size;
    font-family: $change-password-form-font-family;
}