<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

    <!-- The label on top of the change password form -->
    <div fxFlex="20px">
        <p id="forgot-password-label">FORGOT PASSWORD</p>
    </div>

    <!-- The forgot password information message -->
    <div *ngIf="showForgotPasswordInfoMessage"
         fxFlex="20px"
         id="forgot-password-form-info">
         {{forgotPasswordInfoMessage}}
    </div>

    <!-- The form to forgot password -->
    <form [formGroup]="emsForgotPasswordFormModel" (ngSubmit)="forgotPasswordSend()">
        <div fxLayout="column" fxLayoutAlign="center center" class="forgot-password-form">
            <mat-form-field fxFlex>
                <input matInput
                       placeholder="Username"
                       type="text"
                       formControlName="username">
                <button matSuffix
                        type="button"
                        mat-icon-button>
                    <mat-icon matSuffix>email</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button
                    fxFlex
                    type="submit"
                    color="accent"
                    [disabled]=emsForgotPasswordFormModel.invalid>
                    RESET
            </button>
        </div>
    </form>

    <a fxFlex="20px" class="forgot-password-clickable" (click)="loginPage()">
        LOGIN PAGE
    </a>

</div>
