@import "src/styles.scss";

$theme: $light_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$forgot-password-form-width: 450px;
$forgot-password-form-label-padding-bottom: 20px;
$forgot-password-form-label-left-width: 30%;
$forgot-password-form-label-right-width: 70%;
$forgot-password-form-font-size: 15px;
$forgot-password-form-info-padding-bottom: 20px;
$forgot-password-form-font-family: Roboto, "Helvetica Neue", sans-serif;

.forgot-password-form {
    min-width: $forgot-password-form-width;
    max-width: $forgot-password-form-width;
}

#forgot-password-label {
    font-size: $forgot-password-form-font-size;
    font-weight: bold;
    font-family: $forgot-password-form-font-family;
}

#forgot-password-form-info {
    font-size: $forgot-password-form-font-size;
    font-family: $forgot-password-form-font-family;
    color: mat-color($accent, 300);
}

.forgot-password-clickable {
    font-size: $forgot-password-form-font-size;
    font-weight: 500;
    font-family: $forgot-password-form-font-family;
}

.forgot-password-clickable:hover {
    cursor: pointer;
    color: mat-color($primary, 900);
}

.mat-form-field {
    width: 70%;
}

button {
    &[mat-raised-button] {
        &[disabled] {
            background-color: mat-color($accent, 300);
            color: mat-color($primary, lighter);
        }
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
  }
