<div>

    <!-- The label on top of the change password form -->
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxLayout="row" class="forgot-password-form forgot-password-label">
            <div fxFlex id="forgot-password-form-label-left">
                <mat-icon>person</mat-icon>
            </div>
            <div fxFlex id="forgot-password-form-label-right">
                Forgot Password?
            </div>
        </div>
    </div>

    <!-- The forgot password information message -->
    <div *ngIf="showForgotPasswordInfoMessage" fxLayout="row" fxLayoutAlign="center">
        <div fxFlex id="forgot-password-form-info">
            <span>{{forgotPasswordInfoMessage}}</span>
        </div>
    </div>

    <!-- The form to forgot password -->
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex class="forgot-password-form">
            <form [formGroup]="emsForgotPasswordFormModel" (ngSubmit)="forgotPasswordSend()">
                <div fxLayout="column" fxLayoutAlign="center">
                    <div fxFlex class="forgot-password-form forgot-password-label">
                        <mat-form-field>
                            <input matInput placeholder="Username" type="text" formControlName="username">
                        </mat-form-field>
                    </div>

                    <div fxFlex class="forgot-password-form forgot-password-label">
                        <button mat-stroked-button type="submit">Reset</button>
                    </div>
                    <div fxFlex class="forgot-password-form forgot-password-label forgot-password-clickable">
                        <span (click)="loginPage()">Login Page</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>