<div>
        
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="200px" style="height:24px" fxLayout="row">
            <div fxFlex="40" style="text-align: right">
                <mat-icon>person</mat-icon>
            </div>
            <div fxFlex="60">
                <div>
                    <p style="margin-top:6px; text-align: left">Forgot password?</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showForgotPasswordError" fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="500px">
                <span>ERROR: Forgot Password Failed.</span>
            </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="300px">
            <form [formGroup]="emsForgotPasswordFormModel" (ngSubmit)="forgotPasswordSend()">
                <mat-form-field style="margin:0px;">
                    <input matInput placeholder="Username" type="text" formControlName="username">
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="300px">
                        <button mat-stroked-button class="login-button" type="submit">Reset</button>
                            <p (click)="loginPage()">Login Page</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>