
$login-form-width: 300px;
$login-form-label-left-width: 30%;
$login-form-label-right-width: 70%;
$login-form-font-family: Arial, Helvetica, sans-serif;
$login-form-font-size: 15px;

.login-form {
    min-width: $login-form-width;
    max-width: $login-form-width;
}

#login-form-label-left {
    text-align: right;
    min-width: $login-form-label-left-width;
    max-width: $login-form-label-left-width;
}

#login-form-label-right {
    margin-top:6px; 
    text-align: left;
    min-width: $login-form-label-right-width;
    max-width: $login-form-label-right-width;
    font-size: $login-form-font-size;
    font-family: $login-form-font-family;
} 

#login-form-error {
    font-size: $login-form-font-size;
    font-family: $login-form-font-family;
}