@import "src/styles.scss";

$theme: $light_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$login-form-width: 450px;
$login-form-label-padding-bottom: 20px;
$login-form-label-left-width: 30%;
$login-form-label-right-width: 70%;
$login-form-font-size: 15px;
$login-form-error-padding-bottom: 20px;

.login-form {
    min-width: $login-form-width;
    max-width: $login-form-width;
}

#login-form-label {
    font-size: $login-form-font-size;
    font-weight: bold;
}

.login-form-error {
    font-size: $login-form-font-size;
    margin-bottom: 0!important;
}

.login-form-clickable {
    font-size: $login-form-font-size;
    font-weight: 500;
}

.login-form-clickable:hover {
    cursor: pointer;
    color: mat-color($primary, 900);
}

.mat-form-field {
    width: 70%;
}

button {
    &[mat-raised-button] {
        &[disabled] {
            background-color: mat-color($accent, 300);
            color: mat-color($primary, lighter);
        }
    }
}
