.ems-login {
    height: 450px;
    background-color: whitesmoke;
}

.loginTitle {
    font-size: 25px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginError {
    font-size: 15px;
     
    padding: 30px;
}

div.ems-login * {
    text-align: center;
}

.ems-login-form-row {
    display: flex;
    width: 250px;
}

.ems-login-form-text {
    flex: 1;
    text-align:left;
}

.ems-login-form-input {
    flex: 2;
}

