<div class="ems-login" fxLayout="column" fxLayoutAlign="start center">

    <div class="loginTitle" fxFlex="75px">
        Enterprise Messaging Service Customer Portal
    </div>

    <div id="formArea" fxFlex="">
        <mat-card *ngIf="showLogin">
            <app-login-form (eventFromLoginForm)="receiveEventFromLoginForm($event)"></app-login-form>
        </mat-card>

        <mat-card *ngIf="showChangePassword">
            <app-change-password-form (eventFromChangePasswordForm)="receiveEventFromChangePasswordForm($event)"></app-change-password-form>
        </mat-card>

        <mat-card *ngIf="showForgotPassword">
            <app-forgot-password-form (eventFromForgotPasswordForm)="receiveEventFromForgotPasswordForm($event)"></app-forgot-password-form>
        </mat-card>
    </div>

</div>
