.ems-login {
    height: 50vh;
}

div.ems-login * {
    text-align: center;
}

.ems-login-form-row {
    display: flex;
    width: 250px;
}

.ems-login-form-text {
    flex: 1;
    text-align:left;
}

.ems-login-form-input {
    flex: 2;
}