<div class="ems-login">
    
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="500px" style="height:50px">
            <span><h3>Enterprise Messaging Service Customer Portal</h3></span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="200px" style="height:24px" fxLayout="row">
            <div fxFlex="40" style="text-align: right">
                <mat-icon>person</mat-icon>
            </div>
            <div fxFlex="60">
                <div>
                <p style="margin-top:6px; text-align: left">Please Sign In</p>
                </div>
            </div>
    </div>

    </div>

    
    <div fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="emsLoginFormModel" (ngSubmit)="login()">
            <div fxFlex="300px">
                <mat-form-field  style="margin:20px;">
                    <input matInput placeholder="Username" type="text" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="text" formControlName="password">
                </mat-form-field>
                <button mat-stroked-button class="login-button" type="submit">Log In</button>
            </div>
        </form>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="200px" fxLayout="row">
            <div fxFlex="">
                <p>Change Password</p>
            </div>
            <div fxFlex="">
                <p>Forgot Password</p>
            </div>
        </div>
    <ul>
    <li *ngFor="let product of products$ | async">
    {{product.title }} {{product.price | currency}}
    </li>
    </ul>
  {{error}}
    </div>
    
</div>