@import "src/styles.scss";

$theme: $light_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$ems-login-height: 525px;
$login-title-font-size: 25px;
$login-title-font-family: Arial, Helvetica, sans-serif;
$login-title-padding: 50px;
$login-title-width: 700px;

.ems-login {
    height: auto;
    background-color: mat-color($primary);
}

.loginTitle {
    font-size: $login-title-font-size;
    padding: $login-title-padding;
    font-family: $login-title-font-family;
    max-width: $login-title-width;
    min-width: $login-title-width;
    text-align: center;
}
