<div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="500px" fxLayout="row">
            <div fxFlex="40" class="login-form-label-left">
                <mat-icon>person</mat-icon>
            </div>
            <div fxFlex="60">
                <div>
                    <p class="login-form-label-font login-form-label-right">Please Sign In</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showLoginError" fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="500px">
            <span>ERROR: Authentication Failed.</span>
        </div>
    </div>

    
    <form [formGroup]="emsLoginFormModel" (ngSubmit)="loginSend()">
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="300px">
                <mat-form-field>
                    <input matInput placeholder="Username" type="text" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="300px">
                <button mat-raised-button type="submit">Log In</button>
            </div>
        </div>
    </form>
    
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="300px" fxLayout="row"> 
            <div fxFlex="">
                <p class="login-font" (click)= "changePassword()">Change Password</p>
            </div>
        <div fxFlex="">
            <p class="login-font" (click)="forgotPassword()">Forgot Password</p>
        </div>
    </div>

</div>