<div>

    <!-- The label on top of the login form -->
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxLayout="row" class="login-form login-form-label">
            <div fxFlex id="login-form-label-left">
                <mat-icon>person</mat-icon>
            </div>
            <div fxFlex id="login-form-label-right">
                Please Sign In
            </div>
        </div>
    </div>

    <!-- The login error message -->
    <div *ngIf="showLoginError" fxLayout="row" fxLayoutAlign="center">
        <div fxFlex class="login-form-error">
            <span>{{loginErrorMessage}}</span>
        </div>
    </div>

    <!-- The username and password login form -->
    <form [formGroup]="emsLoginFormModel" (ngSubmit)="loginSend()">
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex class="login-form login-form-label">
                <mat-form-field>
                    <input matInput placeholder="Username" type="text" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex class="login-form login-form-label">
                <button mat-stroked-button type="submit">Log In</button>
            </div>
        </div>
    </form>

    <form #redirectForm ngNoForm action="https://mpvm37.mp.ics.com" method="POST">
        <input hidden type="text" name="wlUsr" id="wlUsr" value="{{emsLoginFormModel.value['username']}}">
        <input hidden type="text" name="wlPwd" id="wlPwd" value="{{emsLoginFormModel.value['password']}}">
        <input hidden type="submit" name="wlLogin" value="wlLogin">
    </form>

    <!--Forgot password-->
    <a class="login-form-clickable">
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex class="login-form">
            <!--
            <p (click)= "changePassword()">Change Password</p>
            -->
            <span (click)="forgotPassword()">Forgot Password</span>
        </div>
    </div>
    </a>

</div>
