<div>

    <!-- The label on top of the login form -->
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex fxLayout="row" class="login-form">
            <div fxFlex id="login-form-label-left">
                <mat-icon>person</mat-icon>
            </div>
            <div fxFlex id="login-form-label-right">
                Please Sign In
            </div>
        </div>
    </div>

    <!-- The login error message -->
    <div *ngIf="showLoginError" fxLayout="row" fxLayoutAlign="center">
        <div fxFlex id="login-form-error">
            <span>{{loginErrorMessage}}</span>
        </div>
    </div>

    <!-- The username and password login form -->
    <form [formGroup]="emsLoginFormModel" (ngSubmit)="loginSend()">
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex class="login-form">
                <mat-form-field>
                    <input matInput placeholder="Username" type="text" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex class="login-form">
                <button mat-raised-button type="submit">Log In</button>
            </div>
        </div>
    </form>
    
    <!--Forgot password-->
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex class="login-form"> 
            
            <p (click)= "changePassword()">Change Password</p>
            
            <p (click)="forgotPassword()">Forgot Password</p>
        </div>
    </div>

</div>