@import "src/styles.scss";

$theme: $light_theme;
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$analytics-main-border-radius: 10px;

.analytics-main {
    margin: 20px;
}

.analytics-main-traffic-summary {
    border-radius: $analytics-main-border-radius;
    background-color: mat-color($primary, 200);
    box-shadow: 0 0 10px mat-color($primary, darker);
}

.analytics-channel-traffic-summary {
    border-radius: $analytics-main-border-radius;
    background-color: mat-color($primary, 200);
    box-shadow: 0 0 10px mat-color($primary, darker);
}

.analytics-country-traffic-summary {
    border-radius: $analytics-main-border-radius;
    background-color: mat-color($primary, 200);
    box-shadow: 0 0 10px mat-color($primary, darker);
}
